// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Roboto" !default;
$font-family-second: "Inter" !default;
$font-family-title: "Plus Jakarta Sans" !default;
$font-weight-medium: 500;
