// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Inter" !default;
$white: #FFFFFF;
$green: #6CCB6B;
$grey: #818181;
$light-grey: #9B9B9B;
$dark-grey: #7E7E7E;
